.carousel-caption {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(227, 207, 207, 0.8);
  }
  
  .carousel-caption h2 {
    font-size: 32px;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 18px;
    font-style: italic;
  }
  
  .carousel-caption button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .carousel-caption button:hover {
    background-color: darkred;
  }
  